body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #c8c7ff;
    color: #333;
}
h1 {
    color: #0e1824;
    font-size: 2.5em;
    text-transform: uppercase;    
}
.section {
    margin: 20px auto;
    padding: 20px;
    background-color: #d4d3fd;
    border-radius: 10px;
    text-align: start;
    display: flex;
    align-items: start;
}
h2 {
    color: #555;
    width: 130px;
    text-align: end;
    margin-right: 25px;
}
p, a {
    font-size: 1.2em;
    margin-top: 22px;
}
.dwight {
    width: 130px;
    margin-bottom: 60px;
}